<div class="container" *ngFor="let persona of personas">
  <div class="img">
      <div>
          <img src={{persona?.imageUrl}} width="30%" alt="Ilustracion sobre mi" id="ilustracion">
      </div>
      <div>
          <h2>{{persona?.jobTitle}}</h2>  
      </div>
  </div>
  <button display="flex" (click)="setInfo(persona)" *ngIf="isUserLogged" class="btn" id="btn-editar" data-bs-toggle="modal" data-bs-target="#editmodalPersonaHome" title="Editar perfil">
    <i class="fa-regular fa-pen-to-square"></i>
</button>
  <div>
      <p class="hiragana animate__animated animate__fadeInLeftBig"> BIENVENIDOS A MI PORTFOLIO </p>
      <p class="presentacion animate__animated animate__fadeInRightBig"><img src="/assets/banner.jpg" width="18%" display="auto"></p>
      <p class="presentacion animate__animated animate__fadeInRightBig">Mi nombre es</p>
      <p class="presentacion animate__animated animate__fadeInUpBig">{{persona?.name | uppercase }}</p>
  </div>
</div>
<footer class="footer">
  <div>
      <img src="/assets/banner.jpg" alt="Argentina Programa - icono" id= "ap">
  </div>
  <div id="yoProgramo"></div>
</footer>
<!-- Modal edit -->
<div class="modal fade" id="editmodalPersonaHome" tabindex="-1" aria-labelledby="editmodalPersonaHomeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-top">
                <div>
                    <h5 class="modal-title" id="editmodalPersonaHomeLabel" style="font-weight: bold;">Modificar Datos</h5>
                </div>
                <div>
                    <button type="button" class="btn right" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                      </svg></button>
                </div>
            </div>
            <div class="modal-body">
                <form #editFormPersona="ngForm">
                    <div class="form-group">
                        <label for="name">Nombre: </label>
                        <input type="text" ngModel="{{edit?.name}}" name="name" class="form-control inputs-edit" id="name" placeholder="Como es tu nombre?" required>
                    </div>
                    <div class="form-group">
                        <label for="jobTitle">Area de trabajo: </label>
                        <input type="text" ngModel="{{edit?.jobTitle}}" name="jobTitle" class="form-control inputs-edit" id="jobTitle" placeholder="A que te dedicas?" required>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Foto de perfil: </label>
                        <input type="text" ngModel="{{edit?.imageUrl}}" name="imageUrl" class="form-control inputs-edit" id="imageUrl" placeholder="Copia el link donde tengas tu foto">
                    </div>
                    <div class="form-group">
                        <label for="githubUrl">Link a tu Github: </label>
                        <input type="text" ngModel="{{edit?.githubUrl}}" name="githubUrl" class="form-control inputs-edit" id="githubUrl" placeholder="Copia el link de tu perfil de Github">
                    </div>
                    <div class="form-group">
                        <label for="linkedinUrl">Link a tu LinkedIn: </label>
                        <input type="text" ngModel="{{edit?.linkedinUrl}}" name="linkedinUrl" class="form-control inputs-edit" id="linkedinUrl" placeholder="Copia el link de tu perfil de Linkedin">
                    </div>
                    <div class="form-group">
                        <label for="instagramUrl">Link a tu Instagram: </label>
                        <input type="text" ngModel="{{edit?.instagramUrl}}" name="instagramUrl" class="form-control inputs-edit" id="instagramUrl" placeholder="Copia el link de tu perfil de Instagram">
                    </div>
                    <div class="form-group">
                        <label for="facebookUrl">Link a tu Facebook: </label>
                        <input type="text" ngModel="{{edit?.facebookUrl}}" name="facebookUrl" class="form-control inputs-edit" id="facebookUrl" placeholder="Copia el link de tu perfil de Facebook">
                    </div>
                    <input type="hidden" ngModel="{{edit?.id}}" name="id" class="form-control" id="id">
                    <input type="hidden" ngModel="{{edit?.sobreMi}}" name="sobreMi" class="form-control" id="sobreMi">
                    <button [disabled]="editFormPersona.invalid" (click)="editPersona(editFormPersona.value)" class="btn" type="submit" data-bs-dismiss="modal" aria-label="Close">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
