<div class="row">
    <h1>Hard & Soft skills</h1>
 <div class=" text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
 </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'teal'"
            [innerStrokeColor]="'deeppink'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/1200px-Python-logo-notext.svg.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'orangered'"
                [innerStrokeColor]="'lime'"
                [animation]="true"
                [animationDuration]="700"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [showUnits]="false"
                    [imageSrc]="'../assets/git.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="90"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'yellow'"
                    [innerStrokeColor]="'violet'"
                    [animation]="true"
                    [animationDuration]="700"
                    ></circle-progress>
                    </div>

                    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <circle-progress
                        [percent]="65"
                        [radius]="100"
                        [showUnits]="false"
                        [imageSrc]="'../assets/english.png'"
                        [showImage]="true"
                        [imageHeight]="110"
                        [imageWidth]="110"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'greenyellow'"
                        [innerStrokeColor]="'brown'"
                        [animation]="true"
                        [animationDuration]="700"
                        ></circle-progress>
                        </div>

                        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <circle-progress
                            [percent]="60"
                            [radius]="100"
                            [showUnits]="false"
                            [imageSrc]="'../assets/tps.png'"
                            [showImage]="true"
                            [imageHeight]="105"
                            [imageWidth]="105"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'darkorange'"
                            [innerStrokeColor]="'deepskyblue'"
                            [animation]="true"
                            [animationDuration]="700"
                            ></circle-progress>
                            </div>

                            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <circle-progress
                                [percent]="70"
                                [radius]="100"
                                [showUnits]="false"
                                [imageSrc]="'../assets/Power-BI-Logo.png'"
                                [showImage]="true"
                                [imageHeight]="110"
                                [imageWidth]="110"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'crimson'"
                                [innerStrokeColor]="'black'"
                                [animation]="true"
                                [animationDuration]="700"
                                ></circle-progress>
                                </div>

                                <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <circle-progress
                                    [percent]="85"
                                    [radius]="100"
                                    [showUnits]="false"
                                    [imageSrc]="'../assets/sql.png'"
                                    [showImage]="true"
                                    [imageHeight]="110"
                                    [imageWidth]="110"
                                    [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'aqua'"
                                    [innerStrokeColor]="'firebrick'"
                                    [animation]="true"
                                    [animationDuration]="700"
                                    ></circle-progress>
                                    </div>
                
                                    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <circle-progress
                                        [percent]="65"
                                        [radius]="100"
                                        [showUnits]="false"
                                        [imageSrc]="'../assets/java.jfif'"
                                        [showImage]="true"
                                        [imageHeight]="110"
                                        [imageWidth]="110"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'gold'"
                                        [innerStrokeColor]="'sandybrown'"
                                        [animation]="true"
                                        [animationDuration]="700"
                                        ></circle-progress>
                                        </div>
                
                                        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <circle-progress
                                            [percent]="80"
                                            [radius]="100"
                                            [showUnits]="false"
                                            [imageSrc]="'../assets/boots.png'"
                                            [showImage]="true"
                                            [imageHeight]="105"
                                            [imageWidth]="105"
                                            [outerStrokeWidth]="16"
                                            [innerStrokeWidth]="8"
                                            [outerStrokeColor]="'red'"
                                            [innerStrokeColor]="'blue'"
                                            [animation]="true"
                                            [animationDuration]="700"
                                            ></circle-progress>
                                            </div>
                
                                            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <circle-progress
                                                [percent]="75"
                                                [radius]="100"
                                                [showUnits]="false"
                                                [imageSrc]="'../assets/angular.jfif'"
                                                [showImage]="true"
                                                [imageHeight]="110"
                                                [imageWidth]="110"
                                                [outerStrokeWidth]="16"
                                                [innerStrokeWidth]="8"
                                                [outerStrokeColor]="'deeppink'"
                                                [innerStrokeColor]="'yellow'"
                                                [animation]="true"
                                                [animationDuration]="700"
                                                ></circle-progress>
                                                </div>
</div>
