<div class="row">
    <h1>Hard & Soft skills <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>

    </h1>
 <div class=" text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="700"
    ></circle-progress>
 </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'teal'"
            [innerStrokeColor]="'deeppink'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/1200px-Python-logo-notext.svg.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'orangered'"
                [innerStrokeColor]="'lime'"
                [animation]="true"
                [animationDuration]="700"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [showUnits]="false"
                    [imageSrc]="'../assets/git.png'"
                    [showImage]="true"
                    [imageHeight]="90"
                    [imageWidth]="90"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'yellow'"
                    [innerStrokeColor]="'violet'"
                    [animation]="true"
                    [animationDuration]="700"
                    ></circle-progress>
                    </div>

                    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <circle-progress
                        [percent]="65"
                        [radius]="100"
                        [showUnits]="false"
                        [imageSrc]="'../assets/english.png'"
                        [showImage]="true"
                        [imageHeight]="110"
                        [imageWidth]="110"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'greenyellow'"
                        [innerStrokeColor]="'brown'"
                        [animation]="true"
                        [animationDuration]="700"
                        ></circle-progress>
                        </div>

                        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <circle-progress
                            [percent]="60"
                            [radius]="100"
                            [showUnits]="false"
                            [imageSrc]="'../assets/tps.png'"
                            [showImage]="true"
                            [imageHeight]="105"
                            [imageWidth]="105"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'darkorange'"
                            [innerStrokeColor]="'deepskyblue'"
                            [animation]="true"
                            [animationDuration]="700"
                            ></circle-progress>
                            </div>

                            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <circle-progress
                                [percent]="70"
                                [radius]="100"
                                [showUnits]="false"
                                [imageSrc]="'../assets/Power-BI-Logo.png'"
                                [showImage]="true"
                                [imageHeight]="110"
                                [imageWidth]="110"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'crimson'"
                                [innerStrokeColor]="'black'"
                                [animation]="true"
                                [animationDuration]="700"
                                ></circle-progress>
                                </div>

                                <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <circle-progress
                                    [percent]="85"
                                    [radius]="100"
                                    [showUnits]="false"
                                    [imageSrc]="'../assets/sql.png'"
                                    [showImage]="true"
                                    [imageHeight]="110"
                                    [imageWidth]="110"
                                    [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'aqua'"
                                    [innerStrokeColor]="'firebrick'"
                                    [animation]="true"
                                    [animationDuration]="700"
                                    ></circle-progress>
                                    </div>
                
                                    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <circle-progress
                                        [percent]="65"
                                        [radius]="100"
                                        [showUnits]="false"
                                        [imageSrc]="'../assets/java.jfif'"
                                        [showImage]="true"
                                        [imageHeight]="110"
                                        [imageWidth]="110"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'gold'"
                                        [innerStrokeColor]="'sandybrown'"
                                        [animation]="true"
                                        [animationDuration]="700"
                                        ></circle-progress>
                                        </div>
                
                                        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <circle-progress
                                            [percent]="80"
                                            [radius]="100"
                                            [showUnits]="false"
                                            [imageSrc]="'../assets/boots.png'"
                                            [showImage]="true"
                                            [imageHeight]="105"
                                            [imageWidth]="105"
                                            [outerStrokeWidth]="16"
                                            [innerStrokeWidth]="8"
                                            [outerStrokeColor]="'red'"
                                            [innerStrokeColor]="'blue'"
                                            [animation]="true"
                                            [animationDuration]="700"
                                            ></circle-progress>
                                            </div>
                
                                            <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <circle-progress
                                                [percent]="75"
                                                [radius]="100"
                                                [showUnits]="false"
                                                [imageSrc]="'../assets/angular.jfif'"
                                                [showImage]="true"
                                                [imageHeight]="110"
                                                [imageWidth]="110"
                                                [outerStrokeWidth]="16"
                                                [innerStrokeWidth]="8"
                                                [outerStrokeColor]="'deeppink'"
                                                [innerStrokeColor]="'yellow'"
                                                [animation]="true"
                                                [animationDuration]="700"
                                                ></circle-progress>
                                                </div>
</div>
