<div>

    <a href="https://www.linkedin.com/in/kevin-marcos-agui-manera-392aa9170/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://www.facebook.com/kevinmarcos.aguimanera"><img src="../../../assets/facebook.png" alt="facebook"></a>
    <a href="https://www.instagram.com/kevin_manera96/"><img src="../../../assets/instagram.png" alt="instagram"></a>
    <a href="https://github.com/KevinMarcos26"><img src="../../../assets/github.png" alt="github"></a>
    <button type="button" class="btn btn-danger">Login</button>

</div>
