<div class="row">

    <h1>Proyectos Personales realizados  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg>

    </h1>

    <div class="container"> 
        
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2> Base de Datos en MySql</h2>
            <p>Base de Datos para un Cine, desarrollada en MySql, para la obtención de Certificación en base de datos SQL en Udemy; con más de 300 líneas de código.</p>


        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://github.com/KevinMarcos26/cine-database/blob/main/cine-database.sql"><img src="../../../assets/Capturasql.PNG" class="img-fluid img-responsive img-proyectos"></a>
            
        </div>




    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2> Análisis de Ventas de Videojuegos en Power Bi</h2>
        <p>Análisis histórico de ventas de videojuegos, realizado con la herramienta Microsoft Power Bi. Proyecto de dashboards e informe sobre ventas globales e histórico de videojuegos, dividido por paises, marcas y años. proyecto para obtener certificación en Udemy, de experto en Power Bi.</p>


    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-1 parte2">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMzU5OWJmMTAtZDEyZC00NzEwLTlhZjItMWI3NGI5NjNkNmU4IiwidCI6ImRkMjljYmVmLWY4MjMtNDhjMi04ODliLThiZTNkZmM0MzFlZCJ9"><img src="../../../assets/Captura.PNG" class="img-fluid img-responsive img-proyectos"></a>



    


    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>  Backend Biblioteca de Artistas y Discos en Node.js </h2>
        <p>Proyecto para obtener certificación en Start Coding, basado en un backend desarrollado en Node js y express como servidor, para desplegar una biblioteca de artistas y sus correspondientes discos.</p>


    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-1 parte2">
        <a href="https://github.com/KevinMarcos26/ChallengeNodejs"><img src="../../../assets/Capturanode.PNG" class="img-fluid img-responsive img-proyectos"></a>



    


    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>  Aplicación de Suscripción en React </h2>
        <p>Aplicativo realizado en React y Aptugo, que interactúa con una base de datos, con la finalidad de llevar un registro de suscriptores a diferentes servicios profesionales ofrecidos por el titular de la landing page. También se utilizó Redux.</p>


    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-1 parte2">
        <a href="https://github.com/KevinMarcos26/Suscripcion1"><img src="../../../assets/Capturanode.PNG" class="img-fluid img-responsive img-proyectos"></a>



    


    </div>






    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg>




    </div>


    








</div>