<div class="row">

    <h1>Proyectos Personales realizados</h1>

    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2> Base de Datos en MySql</h2>
            <p>Descripción</p>


        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://github.com/KevinMarcos26/cine-database/blob/main/cine-database.sql"><img src="../../../assets/Capturasql.PNG" class="img-fluid img-responsive img-proyectos"></a>
            
        </div>




    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2> Análisis de Ventas de Videojuegos en Power Bi</h2>
        <p>Descripción</p>


    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-1 parte2">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiMzU5OWJmMTAtZDEyZC00NzEwLTlhZjItMWI3NGI5NjNkNmU4IiwidCI6ImRkMjljYmVmLWY4MjMtNDhjMi04ODliLThiZTNkZmM0MzFlZCJ9"><img src="../../../assets/Captura.PNG" class="img-fluid img-responsive img-proyectos"></a>



    


    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>  Backend Biblioteca de Artistas y Discos en Node.js </h2>
        <p>Descripción</p>


    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-1 parte2">
        <a href="https://github.com/KevinMarcos26/ChallengeNodejs"><img src="../../../assets/Capturanode.PNG" class="img-fluid img-responsive img-proyectos"></a>



    


    </div>






    </div>


    








</div>