.html{
    color: orange;
}


.diagrama {
    background-color:orange;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                        'router router router sidebar'
                        'router router router sidebar'
                        'router router router sidebar'
}

.d-router {
    display:auto;
    width: auto;
    grid-area: router;
    padding: 5%;
    height: auto;
    background-color:orange;
}

.d-sidebar {
    background-color:slateblue;
    grid-area: sidebar;
    height: auto;
    display:auto;
    width: auto;
}

@media (max-width: 1500px) {

    .diagrama {
    grid-template-areas: 
                        'sidebar sidebar sidebar sidebar'
                        'router router router router'
                        'router router router router'
    }

    .d-router {
        height: flex;
        width: auto;
        display:auto;
    }

    .d-sidebar {
        height: auto;
        width: auto;
        display:auto;
    }
    
}