.container {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

p {
    font-size: 200%;
    color: darkmagenta;
    font-weight: bold;
}

.modal-content {
    background-color: rgba(193, 179, 214, 0.5);
    color: darkmagenta;
    text-align: center;
}

.btn {
    color: #c1b3d6;;
}

.btn:hover {
    background-color: rgba(193, 179, 214, 0.5);
}

@media (max-width: 1300px){

    .container{
        margin-top: 5%;
    }
}

@media (max-width: 800px) {

    .container{
        margin-top: 15%;
    }

    p {
        font-size: 150%;
    }
}

@media (max-width: 430px) {

    p {
        font-size: 100%;
    }
}