<div class="row">

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/fotoportfolio.PNG" class="img-fluid" id="foto">
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">KEVIN MARCOS AGUI MANERA </p>
    <P>FULL STACK DEVELOPER Jr</P>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
   <span>
       <h1>ACERCA DE MI <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
    </h1>
       <p> Hola, es un placer presentarme. Me llamo Kevin Marcos Agüi Manera. Tengo 25 años. Soy oriundo de la Ciudad de Córdoba Capital. En Marzo del año 2020, me gradué con honores en la Facultad de Derecho y Ciencias Sociales de la Universidad Católica de Córdoba, con el título de grado de Abogado. 
        En octubre de 2020, recibí el Premio Facultad de Derecho y Ciencias Sociales, por tener el Cuarto Puesto en el Orden de Mérito de la Promoción 2019, con un Promedio General de 9.12. Anteriormente he recibido otras distinciones por mi desempeño académico; en 2008 recibí el Premio Fundación Facultad de Ciencias Médicas de la UNC, al Mejor Promedio de Educación Inicial en Córdoba. En 2014 recibí la distinción del Banco Roela a los Mejores Promedios de la Provincia de Córdoba en Educación Secundaria. Y en 2018 recibí el premio del Banco Santander Río a los mejores Promedios en Educación Universitaria del país.
        Actualmente resido en Córdoba Capital y poseo manejo de inglés legal escrito. Desde agosto de 2021 inicié mi formación como Full Stack Developer, dentro del programa gubernamental Argetina Programa, y es de mi interés desarrollarme en el mundo profesional IT, sobre todo continuar mi formación en el rubro de los datos y el Gobierno de Datos e Inteligencia Artificial.
        Con la
habilidad de completar tareas de forma precisa,
en un entorno rápido y con plazos de entrega
conflictivos. Responsable. Puntual. Dedicado.
Proactivo. Capaz de trabajar en equipo.
        
    </p>
   </span>
<div>

</div>
