<div class="container"*ngFor="let persona of personas">
  <p>{{persona?.sobreMi}}</p>
  <button (click)="setInfo(persona)" *ngIf="isUserLogged" class="btn" data-bs-toggle="modal" data-bs-target="#editmodalSobreMi" title="Editar Descripción">
      <i class="fa-regular fa-pen-to-square"></i>
  </button>
</div>


<!-- Modal edit -->
<div class="modal fade" id="editmodalSobreMi" tabindex="-1" aria-labelledby="editmodalSobreMiLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
          <div class="modal-top">
              <div>
                  <h5 class="modal-title" id="editmodalSobreMiLabel" style="font-weight: bold;">Editar datos</h5>
              </div>
              <div>
                  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  </svg></button>
              </div>
          </div>
          <div class="modal-body">
              <form #editFormSobreMi="ngForm">
                  <div class="form-group">
                      <label form="sobreMi">Sobre mi: </label>
                      <textarea type="textarea" maxlength="auto" rows="10" cols="10" ngModel="{{edit?.sobreMi}}" name="sobreMi" class="form-control inputs-edit" id="sobreMi" placeholder="Agrega una descripción sobre ti"></textarea>
                  </div>
                  <input type="hidden" ngModel="{{edit?.id}}" name="id" class="form-control" id="id">
                  <input type="hidden" ngModel="{{edit?.name}}" name="name" class="form-control" id="name">
                  <input type="hidden" ngModel="{{edit?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl">
                  <input type="hidden" ngModel="{{edit?.githubUrl}}" name="githubUrl" class="form-control" id="githubUrl">
                  <input type="hidden" ngModel="{{edit?.linkedinUrl}}" name="linkedinUrl" class="form-control" id="linkedinUrl">
                  <input type="hidden" ngModel="{{edit?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle">
                  <button (click)="editPersona(editFormSobreMi.value)" class="btn" type="submit" data-bs-dismiss="modal" aria-label="Close">Guardar cambios</button>
              </form>
          </div>
      </div>
  </div>
</div>





