<div class="row">

    <h1>EXPERIENCIA LABORAL</h1>
 
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Pasante Estudio Jurídico Particular</h2> - <H3>(MARZO 2018 HASTA OCTUBRE 2018)</H3>
                <p>
                    
                    Ayudante en tramitar causas judiciales en Tribunales
                    Provinciales, en juzgados Civiles y Comerciales. Accidentes de
                    Tránsito. Demandas abreviadas. Daños y Perjuicios. Armado de
                    expedientes.
                    Manejo de plataformas como Ciudadano Digital. Anses. Afip.
                    Rentas Córdoba.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Pasante Estudio Jurídico Fidelmino</h2> - <H3>(NOVIEMBRE 2020 HASTA DICIEMBRE 2021)</H3>
                <p>
                    
                    Ayudante en tramitar causas judiciales en Tribunales
                    Provinciales, en juzgados Civiles y Comerciales. Divorcios.
                    Declaratoria de Herederos. Sucesiones. Trámites bancarios.
                    Cartas Documento. Contratos. Regulación de Honorarios.
                    Manejo de plataformas como Justicia Córdoba y Extranet.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Investigador Adscrito en Universidad Católica de Córdoba</h2> - <H3>(ABRIL 2021 HASTA MARZO 2022)</H3>
                <p>
                    
                    *Instituto de Derecho Ambiental de la Universidad Católica de
                    Córdoba. Proyecto de Investigación de Amparo Ambiental en la
                    Provincia de Córdoba.
                    *Proyecto de Investigación de Responsabilidad civil Contractual.
                    
            </li>
        </ul>





    </div>
</div>



